<ion-content class="main-container">
    <div class="background">
        <ion-icon name="map" class="logo" color="light"></ion-icon>
        <ion-item>
            <ion-label position="floating" color="dark">Usuário</ion-label>
            <ion-input type="text" color="dark"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating" color="dark">Senha</ion-label>
            <ion-input type="password" color="dark"></ion-input>
        </ion-item>
        <ion-button size="large" expand="block" color="light" class="button">Entrar</ion-button>
        <ion-button size="large" expand="block" color="light" fill="outline" class="button">Registrar</ion-button>
    </div>
</ion-content>