<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil & Família</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5" pullMin="50" pullMax="50">
    <ion-refresher-content class="refresher-content"></ion-refresher-content>
  </ion-refresher>
  <ion-toolbar style="margin-top: 20px;">
    <ion-title style="font-size: 1.3em;">Meu Perfil</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Idade</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-toolbar style="margin-top: 20px;">
    <ion-title style="font-size: 1.3em;">Minha Família</ion-title>
  </ion-toolbar>
  <div *ngIf="platform === 'ios'">
    <div class="family-button-container">
      <ion-button color="danger" class="family-button">
        <ion-icon name="people-circle-outline" class="family-icon-button"></ion-icon>
        Cadastrar Minha Família
      </ion-button>
    </div>
  </div>
  <div *ngIf="platform === 'web'">
    <div class="family-button-container">
      <ion-button color="danger" class="family-button">
        <ion-icon name="people-circle-outline" class="family-icon-button"></ion-icon>
        Cadastrar Minha Família
      </ion-button>
    </div>
  </div>
  <div *ngIf="platform === 'android'">
    <ion-button color="danger" class="family-button">
      <ion-icon name="people-circle-outline" class="family-icon-button"></ion-icon>
      Cadastrar Minha Família
    </ion-button>
  </div>
</ion-content>