.refresher-content {
    background-color: white;
}

.family-button-container {
    width: 100%;
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.family-button {
    font-weight: bold;
}

.family-icon-button {
    margin-right: 5px;
}